# Needed to use the software
docopt

# Codinstyle (PEP8)
pylint
flake8

# Unit tests
pytest
testfixtures

# Code coverage
pytest-cov
coverage

# Documentation
sphinx==1.5.5
sphinx-bootstrap-theme
numpydoc
pyqt5
sphinxcontrib-plantuml

# Distribution 
wheel
